<%- include('header') -%>

<body>
    <br>
    <h1>Student Information</h1>
    <br>
    <div class="container">
        <form action="" method="post">
            <label for="fname">First Name:  </label>
            <input type="text" id="fname" name="fname"> 
            <br>
            <br>
            <label for="lname">Last Name:  </label>
            <input type="text" id="lname" name="lname"> 
            <br>
            <br>
            <label for="enrollment">Enrollment:  </label>
            <input type="text" id="enrollment" name="enrollment">
            <br>
            <br>
            <label for="department">Department:  </label>
            <select name="department" id="department">
                <option value="-1">Choose</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Computer Science Engineering">Computer Science Engineering</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Metallurgical and Materials Science">Metallurgical and Materials Engineering</option>
            </select>
            <br>
            <br>
            <label for="batch">Batch:  </label>
            <select name="batch" id="batch">
                <option value="-1">Choose</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
            <br>
            <br>
            <label for="status">Current Status:  </label>
            <select name="status" id="status">
                <option value="-1">Choose</option>
                <option value="Permanently Blocked">Permanently Blocked</option>
                <option value="Blocked till L-U">Blocked till L-U</option>
                <option value="Blocked till L-11">Blocked till L-11</option>
                <option value="Unblocked">Unblocked</option>
            </select>
            <br>
            <br>
            <label for="contact">Contact Number:  </label>
            <input type="text" name="contact" id="contact">
            <br>
            <br>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email">
            <br>
            <br>
            <label for="resumeLink">Resume Link:  </label>
            <input type="text" id="resumeLink" name="resumeLink">
            <br>
            <br>
            <input type="submit" value="submit">
        </form>
    </div>
    
</body>

<%- include('footer') -%>