<%- include('header') -%>

<body>
    <p font-size="8 vw" text-align="center" line-weight="1"> <%= message %> </p>
    <input type="button" id="updateButton" value="Update Data">
    <input type="button" id="deletebutton" value="Delete Data">
</body>